.form {
  display: inline-block;
  width: fit-content;
  padding: 20px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
}

.form label {
  display: block;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.form input {
  display: block;
  // height: 2em;
  font-size: 16px;

  &:focus {
    box-shadow: 0px 0px 4px 1px #8c92fa;
  }
}
