.item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  & button {
    background-color: #fff;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: #eee;
    }
  }
}
