.container {
  // display: flex;
  // justify-content: space-between;
  // text-align: center;
  text-align: right;
  margin-left: auto;
}

.link {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;

  &.active {
    color: white;
    background-color: #1976d2;
  }
}

.username {
  font-size: 14px;
}

.email {
  font-size: 12px;
  opacity: 0.7;
  ;
}
